.topnav{
    overflow:hidden;
    background-color:  hsl(250, 100%, 67%);
}
.topnav li{
    float: left;
}
.topnav a{
    display: block;
    padding: 8px;
    font-size: 700 2.0rem/1.2;
    color: hsl(0, 0%, 99%);
    text-decoration: none;
    box-shadow: none;
}
.topnav a:hover{
    background-color:  hsl(55, 100%, 75%);
    color: hsl(250, 100%, 67%);
}

.topnav a.active{
    background-color:   hsl(55, 100%, 75%);
    color:  hsl(250, 100%, 67%);
}

.topnav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
